node_modules/
# Python virtual environment
chatbot_env/

# PyCache
__pycache__/

# Node modules
frontend/node_modules/

# Environment variables
*.env
.env
# Qdrant runtime data
qdrant/
*.mmap
Project_Assignment.docx