# Core web framework
fastapi
uvicorn[standard]
python-multipart

# Vector DB
qdrant-client

# Embeddings + NLP + ML
langchain
langchain-google-genai
langchain-community
pydantic

# File handling + env
python-dotenv
pypdf

# Audio Transcription
SpeechRecognition