# Core web framework
fastapi
uvicorn[standard]
python-multipart

# Vector DB
qdrant-client

# Embeddings + NLP + ML
google-genai
pydantic

# File handling + env
python-dotenv
PyPDF2

# Audio Transcription
SpeechRecognition